*.sublime-workspace
*.sublime-project
*.code-workspace
/.vscode/*
/.idea
*.fcl
georgia-main.backup.js
*Scratch Pad.txt
*dropbox.attr

# foo_spider_monkey_panel/
jsconfig.json
georgia-*.json*

/images/unused
/reborn/settings/
/reborn/georgia-*.json*